<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<script language="javascript"> 
function comprobard(){
    

               if (document.cori.archivotres.value=="")
                {
                        alert("Usted no ha ingresado ningun archvo! ");
                }

}

</script>



<body>
<div id="show"><table align="center" width="auto" height="auto" border="0" bordercolor=silver>

          <tr>
            <td>
               <p align="center"> XML: 
<form name="cori">
<input name="archi" type="file" id="archivotres" class="upfil" onChange="seleccionartres()"> 
<br> 
<br> <p align="center">
<align="center"><input type="button" value="Comprobar" onClick="comprobard()"align="center"> 
                <br />
              <br />
              <center><form name="select_all">
        <textarea class="estilotextarea" readonly type="text" cols="60" rows="10" name="Text1" id="Text1" value="" ></textarea> <br>
              <input value="Seleccionar texto" type="button"/></form></center>
                </p>
            </td> 
          </tr>










</body>
</html>
