<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <br><br>

<div id="show"><!--<table align="center" width="auto" height="auto" border="0" bordercolor=silver>-->
   <p align="center">

<p align="center">
 XML: 
<input name="archivo" type="file"  class="upco" id="archivo" size="150" maxlength="150"> 
  <title></title>
</head>

<script language="javascripta"> 

function comprobard(){
    

               if (document.formulariocadena.archivotres.value=="")
                {
                        alert("Usted no ha ingresado ningun archvo! ");
                }

}

</script>

<form name="formulariocadena">

<body>
<div id="show"><table align="center" width="auto" height="auto" border="0" bordercolor=silver>

<p align="center">
<align="center">
                <br />
              <br />
              <center>
<input type="button" value="Comprobar" onClick="comprobar()" align="center" class="btn btn-success" id="archivotres">
              <form name="select_all">
              </form></center>
                </p>
           
<!--</table>--></div>
<p align="center">
<align="center">
        <textarea class="form-control" readonly type="text" cols="60" rows="10" name="Text1" id="Text1" value="" ></textarea> 
        </form>
        <br><input value="Seleccionar texto" onclick="javascript:this.form.Text1.focus();this.form.Text1.select();" type="button" class="btn btn-success"/>

                </p>
            </td> 
          </tr>
</body>
</html>
