<!DOCTYPE html>
<html lang="en">

<body >

  <div class="container">
   <div class="row">

   
    <div class="col-xs-6 color1" >
      <center>
      <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;
       Cadena:
        <br>
         &nbsp;&nbsp;
         <textarea class="form-control" rows="3"></textarea>
          </center>
         <br>
          &nbsp;&nbsp;
          <script>
          $(":file").filestyle({classButton: "btn btn-primary"});
          
        </script>

          KEY: <input type="file" class="filestyle" data-classButton="btn btn-primary">
           <br>
            <br>
            
          &nbsp;&nbsp;Pass: <input type="text">
            <br>
             &nbsp;&nbsp;
          <p align="center"><input type="button" value="Crear"  class="btn btn-success "/>
          <br><br>
           &nbsp;&nbsp;
          <textarea class="form-control" rows="3"></textarea>
       
       
    </div>
    
    <div class="col-xs-6 color1"> 
      <center>
      <br><br>
      &nbsp;&nbsp;
       Sello:
    <br><br>
        <p align="center"><textarea  class="form-control" rows="3"></textarea></p>
      

        CER:<input type="file">
        <br><br>
        <p alig="center"><input  type="button" value="Validar"  class="btn btn-success"/>
          
          </center>
    </div>

   </div>
 </div>




</body>
</html>





    
           
           
         
              
                
          
         
             
       



        
           
         
   
