<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
       <table width="auto" height="auto" border="0" bordercolor=silver FRAME="void" RULES="cols">
          <tr>
            <td width="610">
            <br><br><br><br>
            <p align="center"> 
            Cadena:
             <p align="center"> 
                <textarea type="text" cols="20" rows="5" style="width:500px; height:50px;" 
                name="Text1" id="Text1" value=""></textarea>
             <p align="center"> KEY: <input type="file" name="KEY:" />

             <p align="center"> PASS: <input type="text" name="PASS:" />
               
              <p align="center"><input type="button" value="Crear"/>
              <br />
              <br />
            <textarea type="text" cols="40" rows="5" style="width:300px; height:150px;" 
            name="Text1" id="Text1" value=""> </textarea></p>
            </td>
            <td width="600"> 
              <p align="center">Sello:</p>
              <p align="center"><textarea type="text" cols="40" rows="5" style="width:500px; height:130px;" 
              name="Text1" id="Text1" value=""> </textarea></p>
&nbsp;
 <p align="center"> CER: <input type="file" name="cer:" /></p>
&nbsp;
<p align="center"><input type="button" value="Validar"/>
<table align="center" border="0" >
 &nbsp;
  <td>Respuesta: </td>
</table>
</td>
</tr>
  </table>
</body>
</html>