<!DOCTYPE html>
<html lang="en">

<body >

  <div class="container">
   <div class="row">

   
    <div class="col-xs-6 " >
      <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;
       Cadena:
        <br>
         &nbsp;&nbsp;
         <textarea class="form-control" rows="3"></textarea>
         <br>
          &nbsp;&nbsp;
          KEY: <input type="file">
           <br>
            
          Pass: <input type="text">
            <br><br>
             &nbsp;&nbsp;
          <p><input type="button" value="Crear"  class="btn btn-success "/>
          <br><br>
           &nbsp;&nbsp;
          <textarea class="form-control" rows="3"></textarea>
       
    </div>
    
    <div class="col-xs-6"> 
      <br><br>
      &nbsp;&nbsp;
       Sello:
    <br><br>
        <textarea class="form-control" rows="3"></textarea>
        <br>

        CER:<input type="file">
        <br><br>
        <p alig="center"><input  type="button" value="Validar"  class="btn btn-success"/>
          
          
    </div>

   </div>
 </div>




</body>
</html>





    
           
           
         
              
                
          
         
             
       



        
           
         
   
