<!doctype html>
<html lang="us">
<head>

	<meta charset="utf-8">
	<title></title>
	<link href="{{ STATIC_ROOT }}css/validador.css" rel="stylesheet" type="text/css">
	<script src="{{ STATIC_ROOT }}js/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_ROOT }}js/jquery-ui-1.10.4.custom.js"></script>

 <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->

	<script>
	$(function() {
		
		$( "#accordion" ).accordion();
		var availableTags = [
			"ActionScript",
			"AppleScript",
			"JavaScript",
			
		];
		$( "#autocomplete" ).autocomplete({
			source: availableTags
		});
		$( "#tabs" ).tabs();
		//$(".selector" ).tabs({ active: 1 });
	});
	</script>
	

<style>
	body{
		font: 62.5% "Trebuchet MS", sans-serif;
		margin: 50px;
	}
	</style>
</head>
<body>

<!-- Tabs -->
<div id="tabs">
	<ul id="nav">
		<li><a href="#tabs-1">Validador</a></li>
		<li><a href="#tabs-2">Cadena Original</a></li>
		<li><a href="#tabs-3">Sello Digital</a></li>
    <!--<li><a href="#tabs-4">Cadena y Sello </a></li>-->
	</ul>
	<div id="tabs-1">
    
  </div>
	<div id="tabs-2">
    
  </div>
	 
  <div id="tabs-3">

</div>


<script>
$( "#tabs-1" ).load( "/validadorcfdi/", function( response, status, xhr ) {
  if ( status == "error" ) {
    var msg = "Sorry but there was an error: ";
    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
  }
});
</script>

<script>
$( "#tabs-2" ).load( "/cadena/", function( response, status, xhr ) {
  if ( status == "error" ) {
    var msg = "Sorry but there was an error: ";
    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
  }
});
</script>

<script>
$( "#tabs-3" ).load( "/sellodigital/", function( response, status, xhr ) {
  if ( status == "error" ) {
    var msg = "Sorry but there was an error: ";
    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
  }
});
</script>
<!--           
<div id="tabs-4" >
 
   <table border=1  bordercolor=silver>
                &nbsp;
                &nbsp;
              <td>
                 <p>XML: <input type="file" name="XML2" />
                  <p>CER: <input type="file" name="cer2" />
                  <p>KEY: <input type="file" name="KEY2" />
                    <p> PASS: <input type="text" name="PASS:"/>

                  <p align="center"> <input type="button" value="Validar"/><p/>
                    Sello:
                  <p align="center"><input type="text" cols="40" rows="5" style="width:500px; height:100px;">
                    <p> Cadena:</p>
                    <p align="center"><input type="text" cols="40" rows="5" style="width:500px; height:100px;">
              </td>
              </table>
             </div>-->

</body>
</html>
