<!doctype html>
<html lang="us">


<head>
        <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
       
	<link  rel="stylesheet" href="{{ STATIC_ROOT }}css/bootstrap.css" >
	<link  rel="stylesheet" href="{{ STATIC_ROOT }}css/main.css">
		<script src="{{ STATIC_ROOT }}js/modernizr-2.6.2.min.js"></script>
    <script src="{{ STATIC_ROOT }}js/bootstrap.js"></script>
    <script src="{{ STATIC_ROOT }}js/plugins.js"></script>
    <script src="{{ STATIC_ROOT }}js/main.js"></script>
    <script src="{{ STATIC_ROOT }}js/jquery-1.10.1.min.js"></script>
    <script src="{{ STATIC_ROOT }}js/bootstrap.file-input.js"></script>
	</head>
<body>

<!-- Tabs -->
<div class="container">
    <div class="row">
        <div class=<"col-md-12">
            <h2>VALIDADOR FINKOK</h2><hr>
            
            <ul class="nav nav-tabs">

             <li class="active"><a href="#tab1" data-toggle="tab">Validador</a></li>
             <li><a href="#tab2" data-toggle="tab">Cadena</a></li>
             <li><a href="#tab3" data-toggle="tab">Sello</a></li>

             </ul>

             <div class="tab-content">
                <div class="tab-pane active color1" id="tab1">
                   
                </div>
                <div class="tab-pane color1" id="tab2">
                   
                </div>
                <div class="tab-pane " id="tab3">
                  
                </div>


             </div>
    </div>

        </div>

<script>
$( "#tab1" ).load( "/validadorcfdi/", function( response, status, xhr ) {
  if ( status == "error" ) {
    var msg = "Sorry but there was an error: ";
    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
  }
});
</script>

<script>
$( "#tab2" ).load( "/cadena/", function( response, status, xhr ) {
  if ( status == "error" ) {
    var msg = "Sorry but there was an error: ";
    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
  }
});
</script>

<script>

$( "#tab3" ).load( "/sellodigital/", function( response, status, xhr ) {
  if ( status == "error" ) {
    var msg = "Sorry but there was an error: ";
    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
  }
});
</script>


        <script>window.jQuery || document.write('<script src="{{ STATIC_ROOT }}js/jquery-1.10.1.min.js"><\/script>')</script>

          <script src="{{ STATIC_ROOT }}js/bootstrap.js"></script>
          <script src="{{ STATIC_ROOT }}js/plugins.js"></script>
          <script src="{{ STATIC_ROOT }}js/main.js"></script>


        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
