<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body >
  <br><br>

<table width="auto" height="auto" border="0" table="table" rules="groups" align="center">
        <tr>
          <td width="200" height="69">&nbsp;</td>
          <td width="575"><p align="center"><font color="#525252"><font size="-1">Valida tus XML, FINKOK le dira si su XML tiene errorres y le mostrara un reporte en la parte inferior,<br />
            si esta todo correcto le aparecera un mensaje que su documento XML esta correcto. </font></p>
            <hr>
            <br>
            
              &nbsp;
              &nbsp;
              <p align="center"> Comprobante: <input type="file" name="KEY:" />
           
            <form>
              <p align="center"> Certificado PAC:<input type="file" name="KEY:" />
              </p>
              <br>
              <p align="center">
               <input  type="button" value="Validar"  class="btn btn-success"/>
              </p
              <hr
              >
              <br>
            </form></td>
          <td width="173">&nbsp;</td>
        </tr>
        <tr >
          <td>&nbsp;</td>
          <td><font color="#119b0e">
            <table width="auto" border="1" bordercolor="ececec" align="center" table="table" rules="all" bgcolor="dbdbdb">
              <tr>
                <td><div align="center" ></td>
              </tr>
              <tr>
                <td height="48" colspan="2"><div align="center"><font size="+2">REPORTE DE VALIDACION</div></td>
              </tr>
              <tr>
                <td width="140"> Versión:</td>
                <td width="228">&nbsp;</td>
              </tr>
              <tr >
                <td>Fecha:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Sello:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Forma de pago:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>NoCertificado</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Certificado:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Subtotal:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Total:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Tipo de Comprobante:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Metodo de pago:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Lugar de Expedicion:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>RFC emisor:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Regimen:</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>RFC Receptor:</td>
                <td>&nbsp;</td>
              </tr>
               <tr>
                <td></td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <br>
            <p align="center">
             <input  type="button" value="Imprimir"  class="btn btn-success">
            </p>
            <p>&nbsp;</p></td>
          <td>&nbsp;</td>
        </tr>
      </table>
</body>
</html>